<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GamiltonTester</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="/">GamiltonTester</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li id="nav_main"><a href="/">Главная</a></li>
          <li id="nav_theory" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Теория <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/theory/graphs">О графах</a></li>
              <li class="divider"></li>
              <li><a href="/theory/gamilton">О гамильтоновых циклах</a></li>
              <li><a href="/theory/euler">О эйлеровых циклах</a></li>
              <li class="divider"></li>
              <li><a href="/theory/fleri">Алгоритм Флери</a></li>
              <li><a href="/theory/cycles">Алгоритм Хиргольцера</a></li>
            </ul>
          </li>
          <li id="nav_practice" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Практика <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a><b>Практические задания</b></a></li>
              <li><a href="/practice/gamilton">Гамильтонов цикл</a></li>
              <li><a href="/practice/euler">Эйлеров цикл</a></li>
              <li><a href="/practice/all">Общий тест</a></li>
            </ul>
          </li>
          <li id="nav_сalc" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Калькулятор <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a><b>Калькуляторы</b></a></li>
              <li class="divider"></li>
              <li><a><b>Алгоритм Флёри</b></a></li>
              <li class="divider"></li>
              <li><a href="/calc/fleri">Для ориентированных графов</a></li>
            </ul>
          </li>
        </ul>




        <ul class="nav navbar-nav navbar-right ">
            {% if user.is_authenticated %}
            <li class="dropdown" id="nav_acc">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Аккаунт <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/practice/yourtestlist">Мой профиль</a></li>
                  <li class="divider"></li>
                  <li><a href="/sign/logout/?next={{request.path}}">Выйти из системы ({{ user.username }})</a></li>
                </ul>
            </li>
            {% else %}
                <form class="navbar-form navbar-left " role="search">
                     <a href="/sign/login/?next={{request.path}}" class="btn btn-success" style="margin-left: 20px">Войти</a>
                     <a href="/sign/register/?next={{request.path}}"  type="submit" class="btn btn-danger">Зарегистрироваться</a>
                </form>
            {% endif %}


        </ul>
      </div>
    </div>
  </nav>
  <br><br><br>

  {% block content %}
  {% endblock %}

  <div class="container">
      <footer>
        <p>&copy; Соколов Семен НИУ ВШЭ ФКН ПИ 2019</p>
      </footer>
  </div>

  <!-- jQuery -->
{#  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>#}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  {% block script %}
  {% endblock %}


</body>
</html>
