{%  extends "mainApp/wrapper.html" %}

{% block content %}
{% load staticfiles %}


<link rel="stylesheet" href="http://bootstraptema.ru/snippets/slider/2016/cbpFWSlider/cbpFWSlider.css" />

<div class="jumbotron">
    <div class="container">
      <p><a href="/" class="btn btn-primary btn-lg">На главную &raquo;</a></p>
      <h1>Что такое алгоритм Флери по поиску эйлерова цикла</h1>
        <p>
            Пусть задан граф G = (V,E). Начинаем с некоторой вершины <i>p ∈ V</i>
            и каждый раз вычеркиваем пройденное ребро. Не проходим по ребру, если удаление этого ребра приводит к разбиению
            графа на две связные компоненты (не считая изолированных вершин),
            т.е. необходимо проверять, является ли ребро мостом или нет.
        </p>


        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div id="cbp-fwslider" class="cbp-fwslider">
                         <ul>
                             <li><a href="#"><img src="{% static 'theory/test.jpg' %}" alt="demo 01"/></a></li>
                             <li><a href="#"><img src="{% static 'theory/test.jpg' %}" alt="demo 02"/></a></li>
                             <li><a href="#"><img src="{% static 'theory/test.jpg' %}" alt="demo 03"/></a></li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>

        <p><a href="/theory/cycles" class="btn btn-danger btn-lg">Далее &raquo;</a></p>
    </div>
  </div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="http://bootstraptema.ru/snippets/slider/2016/cbpFWSlider/cbpFWSlider.min.js"></script>

    <script>
        $('#nav_theory').addClass('active');
    </script>
    <script>
$( function() {
$( '#cbp-fwslider' ).cbpFWSlider();
});
</script>
{% endblock %}
