{%  extends "mainApp/wrapper.html" %}

{% block content %}
{% load staticfiles %}
<div class="jumbotron">
    <div class="container">
      <p><a href="/" class="btn btn-primary btn-lg">На главную &raquo;</a></p>
      <h1>Что такое эйлеров граф и цикл</h1>
        <p>
            <b>Эйлеров путь</b> (эйлерова цепь) в графе — это путь, проходящий по всем рёбрам графа и притом только по одному разу.
            <br>
            <b>Эйлеров цикл</b> — эйлеров путь, являющийся циклом, то есть замкнутый путь, проходящий через каждое ребро графа ровно по одному разу.
            <br>
            <b>Эйлеров граф</b> — граф, содержащий эйлеров цикл.
            <br>
            <b>Полуэйлеров граф</b> — граф, содержащий эйлеров путь.
        </p>

        <p>
            <h2>Существование эйлерова цикла и эйлерова пути</h2>
            <h3><b>В неориентированном графе</b></h3>

            <p>
            Согласно теореме, доказанной Эйлером, эйлеров цикл существует тогда и только тогда,
            когда граф связный или будет являться связным, если удалить
            из него все изолированные вершины, и в нём отсутствуют вершины нечётной степени.

            Эйлеров путь в графе существует тогда и только тогда, когда граф связный и содержит не более двух вершин нечётной степени.
            Ввиду леммы о рукопожатиях, число вершин с нечётной степенью должно быть четным.
            А значит эйлеров путь существует только тогда,
            когда это число равно нулю или двум. Причём когда оно равно
            нулю, эйлеров путь вырождается в эйлеров цикл.
            </p>
            <br><br>
            <img src="{% static 'theory/euler/euler.png' %}" alt="euler.png" class="img-thumbnail" width="40%" style="margin-left: 30%">


            <h3><b>В ориентированном графе</b></h3>
            <p>
            Ориентированный граф G=(V,A) содержит эйлеров цикл тогда и только тогда, когда он сильно связан или среди
            его компонент сильной связности только одна содержит ребра (а все остальные являются изолированными вершинами)
            и для каждой вершины графа её входящая степень  равна её исходящей степени , то есть в вершину входит столько же ребер,
            сколько из неё и выходит.

            Так эйлеров цикл является частным случаем эйлерова пути, то очевидно, что ориентированный граф
            G=(V,A) содержит эйлеров путь тогда и только тогда, когда он содержит либо эйлеров цикл,
            либо эйлеров путь, не являющейся циклом. Ориентированный граф G=(V,A) содержит эйлеров путь,
            не являющейся циклом, тогда и только тогда, когда существуют две вершины p и q (начальная и конечная вершины пути соответственно) такие, что их полустепени захода и полустепени исхода связаны равенствами
            <i>indeg(q) = outdeg(q) + 1</i> и <i>indeg(p) = outdeg(p) - 1</i>, а все остальные вершины имеют одинаковые полустепени исхода и захода.
            </p>
        </p>

        <p><a href="/theory/fleri" class="btn btn-danger btn-lg">Далее &raquo;</a></p>

         <ref>
            Источник: Эйлеров цикл. (2019, апрель 12). Википедия, свободная энциклопедия. Retrieved 22:42, мая 13, 2019 from https://ru.wikipedia.org/?oldid=99164224.
        </ref>
    </div>
  </div>
{% endblock %}

{% block script %}
    <script>
        $('#nav_theory').addClass('active');
    </script>
{% endblock %}
