{%  extends "mainApp/wrapper.html" %}

{% block content %}
{% load staticfiles %}
<div class="jumbotron">
    <div class="container">
      <p><a href="/" class="btn btn-primary btn-lg">На главную &raquo;</a></p>
      <h1>Что такое гамильтонов граф и цикл</h1>
        <p>
            Гамильто́нов граф — математический объект теории графов.
            Представляет собой граф (набор точек и соединяющих их линий),
            который содержит гамильтонов цикл. При этом гамильтоновым циклом является такой цикл (замкнутый путь),
            который проходит через каждую вершину данного графа ровно по одному разу.
            <br><br>
            <img src="{% static 'theory/gamilton/gamilton.png' %}" alt="gamilton.png" class="img-thumbnail" width="40%" style="margin-left: 30%">
            <br><br>
            Также с гамильтоновым графом тесно связано понятие гамильтонова пути,
            который является простым путём (путём без петель), проходящим через каждую
            вершину графа ровно один раз. Гамильтонов путь отличается от цикла тем,
            что у пути начальные и конечные точки могут не совпадать, в отличие от цикла.
            Гамильтонов цикл является гамильтоновым путём.
        </p>

        <p><a href="/theory/euler" class="btn btn-danger btn-lg">Далее &raquo;</a></p>
    </div>
  </div>
{% endblock %}

{% block script %}
    <script>
        $('#nav_theory').addClass('active');
    </script>
{% endblock %}
