{%  extends "mainApp/wrapper.html" %}

{% block content %}
{% load staticfiles %}
<div class="jumbotron">
    <div class="container">
      <p><a href="/" class="btn btn-primary btn-lg">На главную &raquo;</a></p>
      <h1>Алгоритм Хиргольцера по поиску эйлерова цикла</h1>
        <p>
            Пусть задан граф G = (V,E). Начинаем с некоторой вершины <i>p ∈ V</i>
            и каждый раз вычеркиваем пройденное ребро. Таким образом идём до того момента, как <i>p</i> станет
            изолированной. Запоминаем этот цикл.
            Делаем эту операцию от любой неизолированной вершины пока есть хоть одна неизолированная вершина.
            Получаем <b>n</b> циклов.
            <br>
            Далее идём по любому из циклов, записывая его вершины в ответ, но если встречаем вершину, принадлежащую
            другому циклу, то начинаем идти по нему, а по окончании возвращаемся в исходный.
        </p>

        <p><a href="/theory/cycles/example" class="btn btn-primary btn-lg">Пример &raquo;</a></p>
        <br>
    </div>
  </div>
{% endblock %}

{% block script %}
    <script>
        $('#nav_theory').addClass('active');
    </script>
{% endblock %}
