{%  extends "mainApp/wrapper.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
      <h1>Что такое графы...</h1>
      <p><a href="/" class="btn btn-primary btn-lg">На главную &raquo;</a></p>
      <p><a href="/theory/gamilton" class="btn btn-danger btn-lg">Далее &raquo;</a></p>
      <p>Посещено за сессию: {{ num_visits }} раз</p>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        $('#nav_theory').addClass('active');
    </script>
{% endblock %}