{%  extends "mainApp/wrapper.html" %}

{% block content %}
{% load staticfiles %}


<link rel="stylesheet" href="http://bootstraptema.ru/snippets/slider/2016/cbpFWSlider/cbpFWSlider.css" />

<div class="jumbotron">
    <div class="container">
      <p><a href="/" class="btn btn-primary btn-lg">На главную &raquo;</a></p>
      <h1>Алгоритм Флери по поиску эйлерова цикла</h1>
        <p>
            Пусть задан граф G = (V,E). Начинаем с некоторой вершины <i>p ∈ V</i>
            и каждый раз вычеркиваем пройденное ребро. Не проходим по ребру, если удаление этого ребра приводит к разбиению
            графа на две связные компоненты (не считая изолированных вершин),
            т.е. необходимо проверять, является ли ребро мостом или нет.
        </p>

        <p><a href="/theory/fleri/example" class="btn btn-primary btn-lg">Пример &raquo;</a></p>
        <br>
        <p><a href="/theory/cycles" class="btn btn-danger btn-lg">Далее &raquo;</a></p>

        <ref>
            Источник: Эйлеров цикл. (2019, апрель 12). Википедия, свободная энциклопедия. Retrieved 22:42, мая 13, 2019 from https://ru.wikipedia.org/?oldid=99164224.
        </ref>
    </div>
  </div>
{% endblock %}

{% block script %}

    <script>
        $('#nav_theory').addClass('active');
    </script>

{% endblock %}
