{%  extends "mainApp/wrapper.html" %}

{% block content %}
{% load staticfiles %}
<div class="jumbotron">
    <div class="container">
        <h2>Калькулятор метода Флёри по поиску эйлерового цикла для ориентированного графа</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="col-md-6">
                    <p>Ваш граф:
                        <br>
                        <textarea name="graph" cols="30" rows="10" style="resize: none;"></textarea>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Пример ввода: <br>
                        <textarea cols="30" rows="10" style="resize: none;" disabled>a>b
b>c
c>a</textarea>

                    </p>
                </div>
            </div>

            <p><button type="submit" href="/calc/fleri" class="btn btn-primary btn-lg">Решить! &raquo;</button></p>
        </form>
    </div>
  </div>
{% endblock %}

{% block script %}
    <script>
        $('#nav_calc').addClass('active');
    </script>
{% endblock %}