{%  extends "mainApp/wrapper.html" %}

{% block content %}
{% load staticfiles %}
<div class="jumbotron">
    <div class="container">
        <p>Тест по эйлеровым циклам</p>
        <form method="POST">
            {% csrf_token %}
            <p>Количество вопросов:
                <select name="num_of_questions">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
            </p>

            <p><button type="submit" href="/practice/euler/test" class="btn btn-primary btn-lg">Начать тест &raquo;</button></p>
        </form>
    </div>
  </div>
{% endblock %}

{% block script %}
    <script>
        $('#nav_practice').addClass('active');
    </script>
{% endblock %}
